{% extends "base.html" %}
{% block page_title %}Dashboard{% endblock %}
{% block content %}
    <h2>Dashboard</h2>

    <!-- Display IP, Country, City, Browser, OS -->
    <h4>Visitor Information</h4>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>IP Address</th>
                <th>Country</th>
                <th>City</th>
                <th>Browser</th>
                <th>Operating System</th>
            </tr>
        </thead>
        <tbody>
            {% for visitor in visitor_data %}
                <tr>
                    <td>{{ visitor.ip }}</td>
                    <td>{{ visitor.country }}</td>
                    <td>{{ visitor.city }}</td>
                    <td>{{ visitor.browser }}</td>
                    <td>{{ visitor.os }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Word Cloud Visualization -->
    <h4>Word Cloud of Search Queries</h4>
    <img src="{{ url_for('static', filename=wordcloud_img_path) }}" alt="Word Cloud" class="img-fluid">

    <!-- Query Length Histogram -->
    <h4>Histogram of Query Lengths</h4>
    <img src="{{ url_for('static', filename=query_length_histogram_img_path) }}" alt="Query Length Histogram" class="img-fluid">

    <!-- Browser Distribution -->
    <h4>Browser Distribution</h4>
    <img src="{{ url_for('static', filename=browser_count_plot_img_path) }}" alt="Browser Distribution" class="img-fluid">

    <!-- Operating System Distribution -->
    <h4>Operating System Distribution</h4>
    <img src="{{ url_for('static', filename=os_count_plot_img_path) }}" alt="Operating System Distribution" class="img-fluid">

    <!-- Visitors Per Day Plot -->
    <h4>Visitors Per Day</h4>
    <img src="{{ url_for('static', filename=visitors_per_day_plot_img_path) }}" alt="Visitors Per Day" class="img-fluid">
    
{% endblock %}